span.chainmail_boots{	background-position: -32px -0px;}
span.chainmail_chestplate{	background-position: -64px -0px;}
span.chainmail_helmet{	background-position: -96px -0px;}
span.chainmail_leggings{	background-position: -128px -0px;}
span.broken_chainmail_boots{	background-position: -160px -0px;}
span.broken_chainmail_chestplate{	background-position: -192px -0px;}
span.broken_chainmail_helmet{	background-position: -224x -0px;}
span.broken_chainmail_leggings{	background-position: -256px -0px;}
span.broken_diamond_boots{	background-position: -288px -0px;}
span.broken_diamond_chestplate{	background-position: -320px -0px;}
span.broken_diamond_helmet{	background-position: -352px -0px;}
span.broken_diamond_leggings{	background-position: -384px -0px;}
span.broken_golden_boots{	background-position: -416px -0px;}
span.broken_golden_chestplate{	background-position: -448px -0px;}
span.broken_golden_helmet{	background-position: -480px -0px;}
span.broken_golden_leggings{	background-position: -512x -0px;}
span.broken_iron_boots{	background-position: -544px -0px;}
span.broken_iron_chestplate{	background-position: -576px -0px;}
span.broken_iron_helmet{	background-position: -608px -0px;}
span.broken_iron_leggings{	background-position: -640px -0px;}
span.broken_leather_boots{	background-position: -672px -0px;}
span.broken_leather_chestplate{	background-position: -704px -0px;}
span.broken_leather_helmet{	background-position: -736px -0px;}
span.broken_leather_leggings{	background-position: -768px -0px;}
span.diamond_boots{	background-position: -800px -0px;}
span.diamond_chestplate{	background-position: -832px -0px;}
span.diamond_helmet{	background-position: -864px -0px;}
span.diamond_horse_armor{	background-position: -896px -0px;}
span.diamond_leggings{	background-position: -928px -0px;}
span.golden_chestplate{	background-position: -992px -0px;}

span.golden_helmet{	background-position:  -0px -32px;}
span.golden_horse_armor{	background-position:  -32px -32px;}
span.golden_leggings{	background-position:  -64px -32px;}
span.iron_boots{	background-position: -96px -32px;}
span.iron_chestplate{	background-position: -128px -32px;}
span.iron_helmet{	background-position: -160px -32px;}
span.iron_horse_armor{	background-position: -192px -32px;}
span.iron_leggings{	background-position: -224px -32px;}
span.leather_boots{	background-position: -256px -32px;}
span.leather_helmet{	background-position: -288px -32px;}
span.leather_leggings{	background-position: -320px -32px;}
span.leather_chestplate{	background-position: -352px -32px;}

span.cooked_potato{	background-position: -384px -640px;}
span.blaze_powder{	background-position: -416px -640px;}
span.blaze_rod{	background-position: -448px -640px;}
span.carrot{	background-position: -480px -640px;}
span.fermented_spider_eye{	background-position: -512px -640px;}
span.ghast_tear{	background-position: -544px -640px;}
span.speckled_melon{	background-position: -576px -640px;}
span.gold_nugget{	background-position: -608px -640px;}
span.golden_carrot{	background-position: -640px -640px;}
span.magma_cream{	background-position: -672px -640px;}
span.nether_wart{	background-position: -704px -640px;}
span.poisonous_potato{	background-position: -736px -640px;}
span.potato{	background-position: -768px -640px;}
span.rabbit_foot{	background-position: -800px -640px;}
span.spider_eye{	background-position: -832px -640px;}
span.bucket{	background-position: -864px -640px;}
span.lava_bucket{	background-position: -896px -640px;}
span.milk_bucket{	background-position: -928px -640px;}
span.water_bucket{	background-position: -960px -640px;}

span.painting{	background-position: -320px -672px;}
span.bone_meal{	background-position: -480px -672px;}
span.cactus_green{	background-position: -512px -672px;}
span.cocoa_beans{	background-position: -544px -672px;}
span.cyan_dye{	background-position: -576px -672px;}
span.dandelion_yellow{	background-position: -608px -672px;}
span.gray_dye{	background-position: -640px -672px;}
span.ink_sac{	background-position: -672px -672px;}
span.lapis_lazuli{	background-position: -704px -672px;}
span.light_blue_dye{	background-position: -736px -672px;}
span.light_gray_dye{	background-position: -768px -672px;}
span.lime_green_dye{	background-position: -800px -672px;}
span.magenta_dye{	background-position: -832px -672px;}
span.orange_dye{	background-position: -864px -672px;}
span.pink_dye{	background-position: -896px -672px;}
span.purple_dye{	background-position: -928px -672px;}
span.rose_red{	background-position: -960px -672px;}

span.black_stained_glass{	background-position: -64px -704px;}
span.black_stained_glass_pane{	background-position: -96px -704px;}
span.blue_stained_glass_pane{	background-position: -288px -704px;}
span.brown_stained_glass_pane{	background-position: -480x -704px;}
span.cyan_stained_glass_pane{	background-position: -672px -704px;}
span.gray_stained_glass_pane{	background-position: -864px -704px;}

span.green_stained_glass_pane{	background-position: -32px -736px;}
span.light_blue_stained_glass{	background-position: -192px -736px;}
span.light_blue_stained_glass_pane{	background-position: -224px -736px;}
span.light_gray_stained_glass_pane{	background-position: -416px -736px;}
span.light_green_stained_glass_pane{	background-position: -608px -736px;}
span.purple_terracotta{	background-position: -736px -736px;}
span.magenta_stained_glass_pane{	background-position: -800px -736px;}
span.orange_terracotta{	background-position: -928px -736px;}
span.orange_stained_glass_pane{	background-position: -992px -736px;}

span.pink_stained_glass_pane{	background-position: -160px -768px;}
span.purple_stained_glass_pane{	background-position: -352px -768px;}
span.red_stained_glass_pane{	background-position: -544px -768px;}
span.white_stained_glass{	background-position: -704px -768px;}
span.yellow_stained_glass_pane{	background-position: -928px -768px;}
span.dragon_egg{	background-position: -992px -768px;}

span.end_rod{	background-position: -32px -800px;}
span.end_stone{	background-position: -64px -800px;}
span.firework_charge_black{	background-position: -96px -800px;}
span.firework_charge_blue{	background-position: -128px -800px;}
span.firework_charge_brown{	background-position: -160px -800px;}
span.firework_charge_cyan{	background-position: -192px -800px;}
span.firework_charge_gray{	background-position: -228px -800px;}
span.firework_charge_green{	background-position: -320px -800px;}
span.firework_charge_lightblue{	background-position: -352px -800px;}
span.firework_charge_lightgray{	background-position: -384px -800px;}
span.firework_charge_lime{	background-position: -416px -800px;}
span.firework_charge_magenta{	background-position: -448px -800px;}
span.firework_charge_orange{	background-position: -480px -800px;}
span.firework_charge_pink{	background-position: -512px -800px;}
span.firework_charge_purple{	background-position: -544px -800px;}
span.firework_charge_red{	background-position: -576px -800px;}
span.firework_charge_white{	background-position: -608px -800px;}
span.firework_charge_yellow{	background-position: -640px -800px;}
span.apple{	background-position: -672px -800px;}
span.bread{	background-position: -704px -800px;}
span.chorus_fruit{	background-position: -738px -800px;}
span.cooked_chicken{	background-position: -800px -800px;}
span.cooked_mutton{	background-position: -864px -800px;}

span.egg{	background-position: -0px -832px;}
span.golden_apple{	background-position: -32px -832px;}
span.melon{	background-position: -64px -832px;}
span.mushroom_stew{	background-position: -96px -832px;}
span.pufferfish{	background-position: -128px -832px;}
span.rabbit_stew{	background-position: -192px -832px;}
span.beef{	background-position: -224px -832px;}
span.chicken{	background-position: -256px -832px;}
span.cod{	background-position: -288px -832px;}
span.mutton{	background-position: -320px -832px;}
span.porkchop{	background-position: -352px -832px;}
span.rabbit{	background-position: -384px -832px;}
span.salmon{	background-position: -416px -832px;}
span.rotten_flesh{	background-position: -448px -832px;}
span.cooked_beef{	background-position: -480px -832px;}
span.sugar{	background-position: -512px -832px;}
span.wheat{	background-position: -544px -832px;}
span.acacia_planks{	background-position: -672px -832px;}
span.birch_planks{	background-position: -832px -832px;}
span.coal_block{	background-position: -928px -832px;}
span.diamond_block{	background-position: -960px -832px;}
span.emerald_block{	background-position: -992px -832px;}

span.gold_block{	background-position: -0px -864px;}
span.iron_block{	background-position: -32px -864px;}
span.quartz_block{	background-position: -64px -864px;}
span.bookshelf{	background-position: -96px -864px;}
span.brickBlock{	background-position: -160px -864px;}
span.cobblestone{	background-position: -320px -864px;}
span.dark_oak_planks{	background-position: -504px -864px;}
span.oak_fence{	background-position: -704px -864px;}
span.oak_fence_door{	background-position: -736px -864px;}
span.glass{	background-position: -768px -864px;}
span.glass_pane{	background-position: -800px -864px;}
span.iron_bars{	background-position: -864px -864px;}
span.jungle_planks{	background-position: -992px -864px;}

span.lapis_block{	background-position: -96px -896px;}
span.oak_planks{	background-position: -192px -896px;}
span.quartz_slab{	background-position: -544px -896px;}
span.red_sandstone_slab{	background-position: -608px -896px;}
span.sandstone_slab{	background-position: -672px -896px;}
span.sandstone_stairs{	background-position: -704px -896px;}
span.slime_block{	background-position: -736px -896px;}
span.smooth_red_sandstone{	background-position: -768px -896px;}
span.smooth_sandstone{	background-position: -800px -896px;}
span.smooth_stone{	background-position: -832px -896px;}
span.snow_block{	background-position: -928px -896px;}

span.spruce_planks{	background-position: -0px -928px;}
span.stone_slab{	background-position: -160px -928px;}
span.redstone_block{	background-position: -288px -928px;}
span.iron_trapdoor{	background-position: -416px -928px;}
span.lever{	background-position: -480px -928px;}
span.piston{	background-position: -544px -928px;}
span.redstone_torch{	background-position: -768px -928px;}
span.stone_button{	background-position: -864px -928px;}
span.tripwire_hook{	background-position:-960px -928px;}
span.heavy_weighted_pressure_plate{	background-position: -992px -928px;}

span.creeper_head{	background-position: -96px -960px;}
span.dragon_head{	background-position: -128px -960px;}
span.steve_head{	background-position: -160px -960px;}
span.skeleton_skull{	background-position: -192px -960px;}
span.wither_skeleton_skull{	background-position: -224px -960px;}
span.zombie_head{	background-position: -256px -960px;}
span.andesite{	background-position: -288px -960px;}
span.bedrock{	background-position: -320px -960px;}
span.clay{	background-position: -384px -960px;}
span.cobweb{	background-position: -446px -960px;}
span.dark_prismarine{	background-position: -512px -960px;}
span.diorite{	background-position: -544px -960px;}
span.dirt{	background-position: -576px -960px;}
span.granite{	background-position: -608px -960px;}
span.grass_block{	background-position: -640px -960px;}
span.gravel{	background-position: -672px -960px;}
span.ice{	background-position: -736px -960px;}
span.mycelium{	background-position: -864px -960px;}
span.obsidian{	background-position: -896px -960px;}
span.packed_ice{	background-position: -928px -960px;}
span.sheild{	background-position: -992px -960px;}

span.prismarine_bricks{	background-position: -0px -992px;}
span.red_sand{	background-position: -32px -992px;}
span.sand{	background-position: -96px -992px;}
span.sandstone{	background-position: -128px -992px;}
span.snow{	background-position: -192px -992px;}
span.stone{	background-position: -224px -992px;}
span.stone_bricks{	background-position: -256px -992px;}
span.glowstone{	background-position: -288px -992px;}
span.nether_quartz_ore{	background-position: -416px -992px;}
span.netherrack{	background-position: -480px -992px;}
span.soulsand{	background-position: -512px -992px;}
span.torch{	background-position: -640px -992px;}
span.coal_ore{	background-position: -672px -992px;}
span.diamond_ore{	background-position: -704px -992px;}
span.emerald_ore{	background-position: -736px -992px;}
span.gold_ore{	background-position: -768px -992px;}
span.iron_ore{	background-position: -800px -992px;}
span.lapis_ore{	background-position: -832px -992px;}
span.redstone_ore{	background-position: -864px -992px;}
span.acacia_sapling{	background-position: -928px -992px;}
span.allium{	background-position: -992px -992px;}

span.azure_bluet{	background-position: -0px -1024px;}
span.birch_sapling{	background-position: -64px -1024px;}
span.blue_orchid{	background-position: -128px -1024px;}
span.brown_mushroom{	background-position: -160px -1024px;}
span.cactus{	background-position: -224px -1024px;}
span.chorus_flower{	background-position: -256px -1024px;}
span.dandelion{	background-position: -320px -1024px;}
span.dark_oak_sapling{	background-position: -384px -1024px;}
span.grass{	background-position: -544px -1024px;}
span.jungle_sapling{	background-position: -608px -1024px;}
span.jungle_log{	background-position: -640px -1024px;}
span.lilac{	background-position: -704px -1024px;}
span.lily_pad{	background-position: -736px -1024px;}
span.melon_block{	background-position: -768px -1024px;}
span.melon_seeds{	background-position: -800px -1024px;}
span.oak_sapling{	background-position: -896px -1024px;}
span.oak_log{	background-position: -928px -1024px;}
span.orange_tulip{	background-position: -960px -1024px;}
span.oxeye_daisy{	background-position: -992px -1024px;}

span.peony{	background-position: -0px -1056px;}
span.pink_tulip{	background-position: -32px -1056px;}
span.poppy{	background-position: -64px -1056px;}
span.pumpkin{	background-position: -96px -1056px;}
span.pumpkin_seeds{	background-position: -128px -1056px;}
span.red_mushroom{	background-position: -160px -1056px;}
span.red_tulip{	background-position: -224px -1056px;}
span.rose_bush{	background-position: -288px -1056px;}
span.wheat_seeds{	background-position: -320px -1056px;}
span.spruce_sapling{	background-position: -416px -1056px;}
span.sugar_cane{	background-position: -480px -1056px;}
span.sunflower{	background-position: -512px -1056px;}
span.vine{	background-position: -544px -1056px;}
span.white_tulip{	background-position: -576px -1056px;}
span.beetroot{	background-position: -608px -1056px;}
span.beetroot_seeds{	background-position: -640px -1056px;}
span.water_bottle{	background-position: -832px -1056px;}
span.potion_fire_resistence{	background-position: -896px -1056px;}
span.potion_healing{	background-position: -960px -1056px;}


span.experience_bottle{	background-position: -320px -1088px;}
span.bone{	background-position: -800px -1088px;}
span.book{	background-position: -832px -1088px;}
span.brick{	background-position: -864px -1088px;}
span.charcoal{	background-position: -896px -1088px;}
span.clay_ball{	background-position: -928px -1088px;}
span.coal{	background-position: -960px -1088px;}
span.diamond{	background-position: -992px -1088px;}

span.emerald{	background-position: -0px -1120px;}
span.ender_pearl{	background-position: -32px -1120px;}
span.feather{	background-position: -64px -1120px;}
span.flint{	background-position: -96px -1120px;}
span.glowstone_dust{	background-position: -128px -1120px;}
span.gold_ingot{	background-position: -160px -1120px;}
span.gunpowder{	background-position: -192px -1120px;}
span.iron_ingot{	background-position: -224px -1120px;}
span.leather{	background-position: -256px -1120px;}
span.netherBrick{	background-position: -288px -1120px;}
span.quartz{	background-position: -320px -1120px;}
span.nether_star{	background-position: -352px -1120px;}
span.paper{	background-position: -384px -1120px;}
span.prismarine_crystals{	background-position: -448px -1120px;}
span.prismarine_shard{	background-position: -480px -1120px;}
span.rabbit_hide{	background-position: -512px -1120px;}
span.redstone{	background-position: -544px -1120px;}
span.slime_ball{	background-position: -576px -1120px;}
span.stick{	background-position: -608px -1120px;}
span.string{	background-position: -640px -1120px;}
span.bat_spawn_egg{	background-position: -672px -1120px;}
span.blaze_spawn_egg{	background-position: -704px -1120px;}
span.cave_spider_spawn_egg{	background-position: -736px -1120px;}
span.chicken_spawn_egg{	background-position: -768px -1120px;}
span.cow_spawn_egg{	background-position: -800px -1120px;}
span.creeper_spawn_egg{	background-position: -832px -1120px;}
span.enderman_spawn_egg{	background-position: -864px -1120px;}
span.endermite_spawn_egg{	background-position: -896px -1120px;}
span.ghast_spawn_egg{	background-position: -928px -1120px;}
span.guardian_spawn_egg{	background-position: -960px -1120px;}
span.horse_spawn_egg{	background-position: -992px -1120px;}

span.magma_cube_spawn_egg{	background-position: -0px -1152px;}
span.mooshroom_spawn_egg{	background-position: -32px -1152px;}
span.ocelot_spawn_egg{	background-position: -64px -1152px;}
span.pig_spawn_egg{	background-position: -96px -1152px;}
span.rabbit_spawn_egg{	background-position: -128px -1152px;}
span.sheep_spawn_egg{	background-position: -160px -1152px;}
span.shulker_spawn_egg{	background-position: -192px -1152px;}
span.silverfish_spawn_egg{	background-position: -224px -1152px;}
span.skeleton_spawn_egg{	background-position: -256px -1152px;}
span.slime_spawn_egg{	background-position: -288px -1152px;}
span.spider_spawn_egg{	background-position: -320px -1152px;}
span.squid_spawn_egg{	background-position: -352px -1152px;}
span.villager_spawn_egg{	background-position: -384px -1152px;}
span.witch_spawn_egg{	background-position: -416px -1152px;}
span.wolf_spawn_egg{	background-position: -448px -1152px;}
span.zombie_spawn_egg{	background-position: -480px -1152px;}
span.zombie_pigman_spawn_egg{	background-position: -512px -1152px;}
span.bowl{	background-position: -576px -1152px;}
span.clock{	background-position: -640px -1152px;}
span.compass{	background-position: -672px -1152px;}
span.broken_diamond_axe{	background-position: -736px -1152px;}
span.broken_diamond_hoe{	background-position: -768px -1152px;}
span.broken_diamond_pickaxe{	background-position: -800px -1152px;}
span.broken_diamond_shovel{	background-position: -832px -1152px;}
	
span.diamond_axe{	background-position: -448px -1184px;}
span.diamond_hoe{	background-position: -480px -1184px;}
span.diamond_pickaxe{	background-position: -512px -1184px;}
span.diamond_shovel{	background-position: -544px -1184px;}
span.enchanted_book{	background-position: -608px -1184px;}
span.ender_eye{	background-position: -640px -1184px;}
span.fishing_rod{	background-position: -704px -1184px;}
span.flint_and_steel{	background-position: -736px -1184px;}
span.glass_bottle{	background-position: -768px -1184px;}
span.golden_axe{	background-position: -800px -1184px;}
span.golden_hoe{	background-position: -832px -1184px;}
span.golden_pickaxe{	background-position: -864px -1184px;}
span.golden_shovel{	background-position: -896px -1184px;}
span.iron_axe{	background-position: -928px -1184px;}
span.iron_hoe{	background-position: -960px -1184px;}
span.iron_pickaxe{	background-position: -992px -1184px;}

span.iron_shovel{	background-position: -0px -1216px;}
span.lead{	background-position: -32px -1216px;}
span.filled_map{	background-position: -64px -1216px;}
span.name_tag{	background-position: -96px -1216px;}
span.saddle{	background-position: -128px -1216px;}
span.shears{	background-position: -160px -1216px;}
span.stone_axe{	background-position: -192px -1216px;}
span.stone_hoe{	background-position: -224px -1216px;}
span.stone_pickaxe{	background-position: -256px -1216px;}
span.stone_shovel{	background-position: -288px -1216px;}
span.wooden_axe{	background-position: -320px -1216px;}
span.wooden_hoe{	background-position: -352px -1216px;}
span.wooden_pickaxe{	background-position: -384px -1216px;}
span.wooden_shovel{	background-position: -416px -1216px;}
span.written_book{	background-position: -448px -1216px;}
span.anvil{	background-position: -480px -1216px;}
span.barrier{	background-position: -512px -1216px;}
span.beacon{	background-position: -544px -1216px;}
span.brewing_stand{	background-position: -608px -1216px;}
span.cake{	background-position: -640px -1216px;}
span.cauldon{	background-position: -672px -1216px;}
span.chest{	background-position: -704px -1216px;}
span.command_block{	background-position: -736px -1216px;}
span.crafting_table{	background-position: -768px -1216px;}
span.daylight_detector{	background-position: -800px -1216px;}
span.dispenser{	background-position: -832px -1216px;}
span.enchanting_table{	background-position: -896px -1216px;}
span.furnace{	background-position: -960px -1216px;}
span.hopper{	background-position: -992px -1216px;}
	
span.note_block{	background-position: -96px -1248px;}
span.wet_sponge{	background-position: -288px -1248px;}
span.arrow{	background-position: -576px -1248px;}
span.bow{	background-position: -992px -1248px;}

span.broken_diamond_sword{	background-position: -32px -1280px;}
span.broken_golden_sword{	background-position: -64px -1280px;}
span.broken_iron_sword{	background-position: -96px -1280px;}
span.broken_stone_sword{	background-position: -128px -1280px;}
span.broken_wooden_sword{	background-position: -160px -1280px;}
span.diamond_sword{	background-position: -192px -1280px;}
span.golden_sword{	background-position: -224px -1280px;}
span.iron_sword{	background-position: -256px -1280px;}
span.snowball{	background-position: -288px -1280px;}
span.stone_sword{	background-position: -352px -1280px;}
span.wooden_sword{	background-position: -384px -1280px;}

span.elytra{	background-position: -384px -1344px;}
span.nether_wart_block{	background-position: -672px -1344px;}
span.bone_block{	background-position: -736px -1344px;}
span.donkey_spawn_egg{	background-position: -832px -1344px;}
span.elder_guardian_spawn_egg{	background-position: -864px -1344px;}
span.polar_bear_spawn_egg{	background-position: -960px -1344px;}
	
span.wither_skeleton_spawn_egg{	background-position: -32px -1376px;}

span.shulker_shell{	background-position: -32px -1408px;}
span.evocation_illager_spawn_egg{	background-position: -64px -1408px;}
span.llama_spawn_egg{	background-position: -96px -1408px;}
span.vindication_illager_spawn_egg{	background-position: -160px -1408px;}
span.undying_totem{	background-position: -192px -1408px;}
span.iron_nugget{	background-position: -896px -1408px;}

span.blaze_head{	background-position: -64px -1440px;}
span.enderman_head{	background-position: -352px -1440px;}

span.black_concrete{	background-position: -64px -1472px;}
span.black_concrete_powder{	background-position: -96px -1472px;}
span.black_glazed_terracotta{	background-position: -128px -1472px;}

span.yellow_concrete{	background-position: -480px -1504px;}
span.yellow_concrete_powder{	background-position: -512px -1504px;}
span.yellow_glazed_terracotta{	background-position: -544px -1504px;}
span.black_wool{	background-position: -576px -1504px;}
span.blue_wool{	background-position: -608px -1504px;}
span.brown_wool{	background-position: -640px -1504px;}
span.cyan_wool{	background-position: -672px -1504px;}
span.gray_wool{	background-position: -704px -1504px;}
span.green_wool{	background-position: -736px -1504px;}
span.light_blue_wool{	background-position: -768px -1504px;}
span.light_gray_wool{	background-position: -800px -1504px;}
span.lime_green_wool{	background-position: -832px -1504px;}
span.magenta_wool{	background-position: -864px -1504px;}
span.orange_wool{	background-position: -896px -1504px;}
span.pink_wool{	background-position: -928px -1504px;}
span.purple_wool{	background-position: -960px -1504px;}
span.red_wool{	background-position: -992px -1504px;}

span.white_wool{	background-position: -0px -1536px;}
span.yellow_wool{	background-position: -32px -1536px;}
span.parrot_spawn_egg{	background-position: -224px -1536px;}

span.blue_bed{	background-position: -192px -1568px;}
span.green_bed{	background-position: -320px -1568px;}
span.white_bed{	background-position: -608px -1568px;}

span.white_carpet{	background-position: -64px -1632px;}

span.turtle_helmet{	background-position:-512px -1664px;}
span.kelp_top{	background-position:-576px -1664px;}
span.empty{	background-position: -992px -1664px;}

span.turtle_spawn_egg{background-image:url("https://d1u5p3l4wpay3k.cloudfront.net/minecraft_zh_gamepedia/9/92/Grid_Spawn_Turtle.png");}


span.wheat_plant{	background-position: -480px -160px;}
span.beetroot_plant{	background-position: -320px -608px;}
span.potato_plant{	background-position: -384px -384px;}
span.carrot_plant{	background-position: -352px -384px;}


span.iron_dust{	background-position: -0px -0px;}
span.gold_dust{	background-position: -32px -0px;}
span.carbon_dust{	background-position: -64px -0px;}
span.quartz_dust{	background-position: -96px -0px;}
span.diamond_dust{	background-position: -128px -0px;}
span.emerald_dust{	background-position: -160px -0px;}
span.bottle_of_redstone{	background-position: -192px -0px;}
span.lapis_dust{	background-position: -224px -0px;}
span.stone_dust{	background-position: -256px -0px;}
span.blaze_dust{	background-position: -0px -32px;}
span.bottle_of_glowstone_dust{	background-position: -32px -32px;}
span.gunpowder_dust{	background-position: -64px -32px;}
span.bionic_acid{	background-position: -96px -32px;}
span.alkaloid{	background-position: -128px -32px;}
span.salt{	background-position: -160px -32px;}
span.rare_earth_salt{	background-position: -192px -32px;}
span.rare_earth_alkaloid{	background-position: -224px -32px;}
span.rare_earth{	background-position: -256px -32px;}
span.bottle_of_air{	background-position: -0px -64px;}
span.course_silicon{	background-position: -32px -64px;}
span.silicon_dust{	background-position: -64px -64px;}
span.potion_haste{	background-position: -96px -64px;}
span.potion_resistance{	background-position: -128px -64px;}
span.potion_health_boost{	background-position: -160px -64px;}
span.potion_saturation{	background-position: -192px -64px;}
span.dirt_heap{	background-position: -224px -64px;}
span.sand_heap{	background-position: -256px -64px;}
span.cobblestone_heap{	background-position: -0px -96px;}
span.stone_heap{	background-position: -32px -96px;}
span.abirritant{	background-position: -64px -96px;}
span.orchid_tea{	background-position: -96px -96px;}
span.chrysanthemum_tea{	background-position: -128px -96px;}
span.plant_essence{	background-position: -160px -96px;}
span.coal_helmet{	background-position: -192px -96px;}
span.redstone_helmet{	background-position: -224px -96px;}
span.lapis_helmet{	background-position: -256px -96px;}
span.quartz_helmet{	background-position: -0px -128px;}
span.emerald_helmet{	background-position: -32px -128px;}
span.coal_chestplate{	background-position: -64px -128px;}
span.redstone_chestplate{	background-position: -96px -128px;}
span.lapis_chestplate{	background-position: -128px -128px;}
span.quartz_chestplate{	background-position: -160px -128px;}
span.emerald_chestplate{	background-position: -192px -128px;}
span.coal_leggings{	background-position: -224px -128px;}
span.redstone_leggings{	background-position: -256px -128px;}
span.lapis_leggings{	background-position: -0px -160px;}
span.quartz_leggings{	background-position: -32px -160px;}
span.emerald_leggings{	background-position: -64px -160px;}
span.coal_boots{	background-position: -96px -160px;}
span.redstone_boots{	background-position: -128px -160px;}
span.lapis_boots{	background-position: -160px -160px;}
span.quartz_boots{	background-position: -192px -160px;}
span.emerald_boots{	background-position: -224px -160px;}
span.red_force_of_fire{	background-position: -256px -160px;}
span.orange_force_of_dirt{	background-position: -0px -192px;}
span.cyan_force_of_mountain{	background-position: -32px -192px;}
span.green_force_of_water{	background-position: -64px -192px;}
span.blue_force_of_sky{	background-position: -96px -192px;}
span.yellow_force_of_earth{	background-position: -128px -192px;}
span.purple_force_of_wood{	background-position: -160px -192px;}
span.white_force_of_lightning{	background-position: -192px -192px;}
span.black_force_of_moon{	background-position: -224px -192px;}
span.horse_head{	background-position: -256px -192px;}
span.donkey_head{	background-position: -0px -224px;}
span.mule_head{	background-position: -32px -224px;}
span.llama_head{	background-position: -64px -224px;}
span.polar_bear_head{	background-position: -96px -224px;}
span.ocelot_head{	background-position: -128px -224px;}
span.wolf_head{	background-position: -160px -224px;}
span.zombie_villager_head{	background-position: -192px -224px;}
span.witch_head{	background-position: -224px -224px;}
span.spider_head{	background-position: -256px -224px;}
span.cave_spider_head{	background-position: -0px -256px;}
span.slime_head{	background-position: -32px -256px;}
span.husk_head{	background-position: -64px -256px;}
span.stray_head{	background-position: -96px -256px;}
span.skeleton_horse_skull{	background-position: -128px -256px;}
span.guardian_head{	background-position: -160px -256px;}
span.elder_guardian_head{	background-position: -192px -256px;}
span.villager_head{	background-position: -224px -256px;}
span.vindication_illager_head{	background-position: -256px -256px;}
span.vex_head{	background-position: -0px -288px;}
span.villager_golem_head{	background-position: -32px -288px;}
span.snowman_head{	background-position: -64px -288px;}
span.zombie_pigman_head{	background-position: -96px -288px;}
span.blaze_head{	background-position: -128px -288px;}
span.ghast_head{	background-position: -160px -288px;}
span.magma_cube_head{	background-position: -192px -288px;}
span.enderman_head{	background-position: -224px -288px;}
span.shulker_head{	background-position: -256px -288px;}
span.cow_head{	background-position: -0px -320px;}
span.pig_head{	background-position: -32px -320px;}
span.sheep_head{	background-position: -64px -320px;}
span.mooshroom_head{	background-position: -96px -320px;}
span.rabbit_head{	background-position: -128px -320px;}
span.chicken_head{	background-position: -160px -320px;}
span.parrot_head{	background-position: -192px -320px;}
span.squid_head{	background-position: -224px -320px;}
span.cod_head{	background-position: -256px -320px;}
span.salmon_head{	background-position: -0px -352px;}
span.clownfish_head{	background-position: -32px -352px;}
span.pufferfish_head{	background-position: -64px -352px;}
span.origin_of_the_world{	background-position: -96px -352px;}
span.glow_hat{	background-position: -128px -352px;}
span.jacket{	background-position: -160px -352px;}
span.snow_boots{	background-position: -192px -352px;}
span.red_hat{	background-position: -224px -352px;}
span.red_coat{	background-position: -256px -352px;}
span.potion_of_reckless{	background-position: -0px -384px;}
span.potion_of_ninja{	background-position: -32px -384px;}

span.effect{
	background-image:url(items/EffectsCSS.png);
	width:18px;
	height:18px;
	display:inline-block;
}
span.speed{	background-position: -0px -0px;}
span.slow{	background-position: -18px -0px;}
span.haste{	background-position: -36px -0px;}
span.mining_fatigue{	background-position: -54px -0px;}
span.strength{	background-position: -72px -0px;}
span.weakness{	background-position: -90px -0px;}
span.poison{	background-position: -108px -0px;}
span.regeneration{	background-position: -126px -0px;}

span.invisibility{	background-position: -0px -18px;}
span.hunger{	background-position: -18px -18px;}
span.jump_boost{	background-position: -36px -18px;}
span.nausea{	background-position: -54px -18px;}
span.night_vision{	background-position: -72px -18px;}
span.blindness{	background-position: -90px -18px;}
span.resistance{	background-position: -108px -18px;}
span.fire_resistance{	background-position: -126px -18px;}

span.water_breathing{	background-position: -0px -36px;}


